In [30]:
#011235
#Fibonacci
a=int(input())
b=[0,1]
n=2
for i in range(a):
    next_val=b[n-1]+b[n-2]
    b.append(next_val)
    n+=1
print(b)

5
[0, 1, 1, 2, 3, 5, 8]

In [35]:
#Function Fibonacci
def fibo():
    a=int(input())
    b=[0,1]
    n=2
    for i in range(a):
        next_val=b[n-1]+b[n-2]
        b.append(next_val)
        n+=1
    return b
print(fibo())

3
[0, 1, 1, 2, 3]

In [31]:
#mydict=dict([(1,'apple'),(2,'Banana')])
#my_dict = dict({1:'apple', 2:'ball'})
my_dict = dict({'1':'apple', '2':'ball','3':'cat','4':'dog'})
#my_dict = {1: 'apple', 2: 'ball'}
for e in my_dict:
    print("Key:",e,"value:",my_dict[e])

Key: 1 value: apple
Key: 2 value: ball
Key: 3 value: cat
Key: 4 value: dog

In [23]:
mydict = {'1': 'Steve', '2': 4, '3': 'Agra'}
for e in mydict:
    print("Key:",e,"Value:",mydict[e])

Key: 1 Value: Steve
Key: 2 Value: 4
Key: 3 Value: Agra

In [33]:
#Using Zip Function
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
comb=dict(zip(values,keys))
print(comb)

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [42]:
#update command to merge two dictionaries
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
def Merge(dict1,dict2):
    return (dict1.update(dict2))
print(Merge(dict1,dict2))
print(dict1)

None
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [43]:
Comb=dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [45]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [46]:
#fromkeys returns a dictionary with specified keys with specified values
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

resDict = dict.fromkeys(employees, defaults)
print(resDict)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [47]:
a=int(input())
for i in range(a):
    a+=1
print(a)

2
4

In [66]:
#One line for loop
x=15
get_cubes = [pow(i, 3) for i in range(2, x+1, 3)]
get_cubes

[8, 125, 512, 1331, 2744]

In [3]:
import pandas as pd
import numpy as np

# crete a sample dataframe
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', np.NAN, 'yellow', np.NAN, 'black', 'green', 'red']
})

In [4]:
data.head()

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F             NaN
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M             NaN
4   12       B   Mumbai      M           black

In [34]:
data.iloc[3:4]

   age section   city gender favourite_color
3   21       B  Delhi      M             NaN